body{
    margin:0;
    background-color: #b4c9dc ;
    font-family: 'Segoe UI', Helvetica, sans-serif;
}
.main-div{
    text-align: center;
}
.icon-div h4{
    
    font-size: 20px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    
    margin-top:40px;
}
.icon-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
#nav-div {
 display: flex;
  gap: 30px; 
  align-items:flex-end;
  justify-content: center; 
  margin-top: -40px; 
  margin-right:40%;
}
#nav-div  a{
  
    
    margin: 0 ;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    
    word-spacing: normal;
    
}
.start-btn{
 margin-top:-60px;
}
.content-div{
    margin-top:100px;
}
.start-btn button{
    border-color:rgb(18, 134, 134);
    color:rgb(18, 134, 134);
    width:35%;
    margin:10% ;
    padding:3%;
    border-radius: 3px;
   
    
    
    
}
.top-div{
    
    text-align: left;
    font-family: 'Segoe UI', Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 15px;
    margin-left: 40px;
    
}

.start-btn{
    margin-left:80%;
    justify-content:flex-start;
}

.bottom-div{
    display:flex;
    align-items:center;
    margin-right:160px;
    justify-content:space-between;
    text-align: center;
    margin-top:100px;
    
    
}
.bottomsec1-div {
    margin-left:10rem;
   
}
.icon-heading {
  display: flex;
  align-items: center;
  gap: 8px; /* space between icon and heading */
  justify-content: center; /* optional */
}

.icon-heading img {
  width: 18px;
  height: 18px;
  margin: 0; /* remove bottom spacing */
}


.bottomsec1-div h6 {
  font-family:'Segoe UI', Helvetica, sans-serif;
  margin: 10px 0 6px 0; 
  font-size: 18px;
}
.bottomsec1-div img {
  width: 20px;   
  height: 20px;    
  margin-bottom: 5px; 
}

.bottomsec1-div p {
  font-family:'Segoe UI', Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5; 
  font-size: 14px;
  color:gray;
}
.form-div input{
  
       padding: 10px;
       width: 200px;
       border: 1px solid #ccc;
       border-radius: 4px 4px 4px 4px;
      
        
    }
.form-div button{
     padding: 10px;
       width: 100px;
       border: 1px solid #ccc;
       border-radius: 4px 4px 4px 4px;
       background-color: #f85a40;
       color:white;
        
}
.heading1{
    font-family:'Arial', Courier, Courier;
    font-size: 20px;
    color:gray;
}
.heading2{
    font-size:20px;
    font-family:'Arial';
}
.paragraph-div{
     font-family:'Arial', Courier, Courier;
    font-size: 20px;
    color:gray;
}
.trust-div h5{
     color:gray;
}












